@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  font-family: Outfit;
}

.active hr{
  @apply block;
}
::-webkit-scrollbar{
  @apply hidden;
}
@theme {
  --color-primary: #5f6fff; /* 👈 apna primary color */
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr)); /* 👈 auto grid */
}
@utility grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}
@media (max-width:740px){
  .active p{
    @apply text-white bg-primary;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes voicePulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.2;
  }
}